apiVersion: apps/v1
kind: Deployment
metadata:
  name: multitool #-{{ .Release.Name }}
  labels:
    app: app-1
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: app-1
  template:
    metadata:
      labels:
        app: app-1
    spec:
      containers:
      - name: app-1
        image: wbitt/network-multitool
        envFrom:
          - configMapRef:
              name: multitool-configmap
