apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx #-{{ .Release.Name }}
  labels:
    app: nginx #-{{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: {{ .Values.nginx.image }}
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-index-volume
          mountPath: /usr/share/nginx/html/index.html # Mount as a file
          subPath: index.html # Specify the key from the ConfigMap        
      volumes:
      - name: nginx-index-volume
        configMap:
          name: nginx-custom-index # Reference the ConfigMap name              
