version: '2.2'
services:
  filebeat:
    image: elastic/filebeat:8.7.0
    container_name: filebeat
    privileged: true
    user: root
    command: filebeat -e -strict.perms=false
    volumes:
      - {% filebeat_docker__data %}/filebeat.yml:/usr/share/filebeat/filebeat.yml:Z
      - /var/log:/var/log:ro
      - /var/lib/docker:/var/lib/docker:Z
      - /var/run/docker.sock:/var/run/docker.sock:Z
   networks:
      - elastic

networks:
  elastic:
    driver: bridge
